setuptools
pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
lightgbm
joblib
flask
dotenv
psycopg2-binary
sqlalchemy
mlflow
azure-identity
azure-keyvault-secrets
azure-storage-blob
fastapi
pydantic
uvicorn
shap
-e .